{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/flip.js') }}"></script>


{% endblock %}

{% block body %}
		<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<style>
	#canvas {
		display: block;
		margin: 0 auto;
	}

	#pageNumber {
		display: inline;
	}

	.previous {
		display: inline;
		background-color: #FFFFFF;
		color: black;
		border-radius: 15%;
	}

	.next {
		display: inline;
		background-color: #42A047;
		color: white;
		border-radius: 15%;
	}
</style>
	

  <body>
	{% include 'component/navbar.html.twig' %}


	<p class="visually-hidden" id="gotMyPdf" >{{pdfPath}}</p>

	<div class="w-full">
		<canvas id="canvas" class="mt-5 flip-mobiles" style=""></canvas>
	</div>

    <div class="controls d-flex justify-content-center align-items-baseline mb-5 mt-5">
      <button id="prev" class="previous btn">&laquo; Précédent</button>
      <p id="pageNumber" class="ms-1"> Page <span id="page_num"> </span> de <span id="page_count"class="me-1">  </span> </p>
      <button id="next" class="next btn">Suivant &raquo;</button>
    </div>

	{% include 'component/footer.html.twig' %}

  </body>

{% endblock %}
