{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ asset('Scss/style.scss') }}">

            <button>Mettre en anglais</button>

        <h1>{% trans %}Welcome to my website{% endtrans %}</h1>
	<p>{% trans %}Thank you for visiting{% endtrans %}</p>
   
{% endblock %}
