@charset "UTF-8";
.color1 {
  color: #D00A4B;
}

.carousel {
  height: 700px;
  width: 700px;
  margin: auto;
}

body {
  background-color: #f0f0f0;
}
body .navbar .logo {
  width: 120px;
  margin-top: 7px;
  margin-bottom: 11px;
}
body .navbar .form .search {
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  min-width: 120px;
  max-width: 210px;
}
body .navbar .form .search-btn {
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .bloc-imgTop {
  width: 600px;
  height: 400px;
  background-image: url(../img/HébéMag.png);
  background-size: cover;
}
body .main .know-more {
  min-height: 318px;
  width: 100%;
  background-image: url(../img/channels4_banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
body .main .know-more a {
  margin-left: 45%;
  margin-top: 12%;
}
body .btn_know-more {
  width: 125px;
}

.know-more-box_btn {
  margin-left: 44%;
  width: 200px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
}

.banniere {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.container {
  height: 300px;
  width: 200px;
  background-color: grey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.parent-article {
  margin-left: 15%;
  margin-right: 15%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.parent-article .article {
  margin-top: 0rem;
  margin-bottom: 3rem;
}
.parent-article .article img {
  width: 300px;
  height: 300px;
}
.parent-article .article .article-title {
  margin-top: 6rem;
  margin-left: -184px;
}
.parent-article .article #forms-svg {
  z-index: 1;
}
.parent-article .article #forms-svg2 {
  margin-left: -93px;
  z-index: 0;
}
.parent-article .numbers {
  display: block;
  border-bottom: 2px solid black;
  border-bottom-width: 3px;
  font-weight: bolder;
  width: 5rem;
  margin-bottom: 11px;
}
.parent-article .block-article {
  margin-left: -6rem;
  margin-top: 3rem;
}
.parent-article .block-article h3.color1 {
  color: #D00A4B;
  padding-bottom: 9px;
}
.parent-article .block-article_rond {
  align-self: end;
  margin-right: -6rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.parent-article .block-article_rond .number2 {
  align-self: end;
  flex-direction: row-reverse;
  display: flex;
  border-bottom: 2px solid black;
  border-bottom-width: 3px;
  font-weight: bolder;
  width: 5rem;
  margin-bottom: 11px;
}
.parent-article .block-article_rond h3 {
  align-self: flex-end;
  color: #D00A4B;
  padding-bottom: 9px;
}
.parent-article .block-article_description {
  margin-left: -182px;
  width: 393px;
  text-align: justify;
}
.parent-article .block-article_description2 {
  max-width: 32rem;
  text-align: justify;
}

.article2-main {
  margin-top: 130px;
  margin-right: -110px;
  align-self: flex-start;
}

.article2 .article2-title {
  margin-top: -63px;
  text-align: end;
}
.article2 .article2-title span {
  display: block;
  border-bottom: 2px solid black;
  border-bottom-width: 3px;
  font-weight: bolder;
  width: 5rem;
}
.article2 .article2-title h3 {
  color: #D00A4B;
}
.article2 .article2_description {
  min-width: 228px;
  margin-left: 1rem;
  text-align: justify;
  align-self: end;
  width: 400px;
  margin-right: 100px;
}
.article2 .article2_description2 {
  text-align: justify;
  width: 512px;
  align-self: end;
  padding-right: 124px;
}

.article3 {
  margin-top: 3rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

swiper-container {
  width: 100%;
  height: 400px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos {
  width: 100%;
  height: 290px;
}

.mySwiper {
  width: 80vw;
  background-color: white !important;
  margin: 0 auto;
}

:host ::ng-deep .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  border: 3px solid black;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  writing-mode: vertical-lr;
  /* Pour écrire le texte en vertical */
  text-orientation: upright;
  /* Pour afficher le texte dans le bon sens */
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.slide-img {
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
  background-size: cover;
  background-image: url(../img/[IPROJET\ MULTICULTUREL\ Meltingphot]\ _Image_Vignette_Page\ accueil\ meltingphot_je\ Filme\ mon\ futur\ métier\(300 × 300 px\).png);
  width: 230px !important;
  height: auto !important;
  margin-right: 18px !important;
  padding: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.container {
  height: 400px;
}

.columns1,
.columns2,
.columns3,
.columns4,
.columns5 {
  background-image: url(../img/IMG_Miniature_Meltingphot__Image_Vignette_Page_accueil_meltingphot_je_Filme_mon_futur_metier300_300_px.png);
  background-repeat: no-repeat;
  height: 335px;
  margin-right: -35px;
  margin-top: 3rem;
  margin-left: 3rem;
  background-size: cover;
  width: 245px;
  margin-bottom: 3rem;
}

.bloc-carrousel {
  margin-top: -105px;
}

.copyright-text {
  max-width: 770px;
}

footer .footer-logo {
  display: flex !important;
  justify-content: center !important;
}
footer .info-contact2 {
  justify-content: center;
}
footer .text-contact {
  max-width: 570px;
}

.contact-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bloc-contact {
  margin-top: 8rem;
}

.bloc-adress {
  margin-top: 6rem;
  margin-left: -13rem;
}

.bloc-adress_place,
.bloc-adress_phone {
  margin-right: 8rem;
}

.send-btn {
  background-color: #D00A4B;
  border-radius: 0px;
  padding: 6px 55px 6px;
  font-weight: bolder;
  color: white;
  line-height: 40px;
}
.send-btn:hover {
  transform: scale(1.05);
  background-color: #D00A4B;
  color: white;
}

.contact-form {
  margin-bottom: 6rem;
}

.form-group {
  display: flex;
  justify-content: center;
}

.contact-NES {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
}

label[for=contact_piege] {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.actions-bloc {
  width: 35%;
  margin-left: 15%;
  padding-top: 145px;
  min-width: 454px;
  z-index: 1;
  position: absolute;
}

.actions-bandeau {
  height: 400px;
}
.actions-bandeau h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 4px;
}

.actions-bandeau-img1 {
  height: 400px;
  background-image: url(../img/Point.png);
  position: absolute;
  z-index: 0;
  width: 760px;
  opacity: 0.3;
}

.actions-bandeau-img2 {
  background-image: url(../img/Rectangle.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  min-height: 445px;
  height: 445px;
  max-height: 445px;
  width: 72%;
  left: 531px;
  margin-top: -10px;
  z-index: 0;
}

.actions-bandeau_trait {
  border-bottom: 3px solid black;
  border-bottom-width: 5px;
  width: 5rem;
}

.actions-bandeau_sous-titre {
  width: 270px;
  align-items: first baseline;
}

.color-grey {
  color: grey;
}

.point {
  width: 50px;
  height: 50px;
}

.btn-filtres {
  border-radius: 8px;
  color: white;
  border: 2px solid white;
  height: 40px;
  width: 11rem;
  background-color: #D00A4B;
  text-decoration: none;
  text-align: center;
}

.actions-description {
  padding-top: 165px;
  position: absolute;
  width: 405px;
  text-align: justify;
  margin-left: 42%;
}

.no-results-message {
  font-size: 20px;
  margin: 50px;
  font-weight: bolder;
}

@media screen and (min-width: 360px) and (max-width: 699px) {
  .carousel {
    height: 300px;
    width: 300px;
    margin: auto;
  }
  .know-more {
    display: none;
  }
  body .article2 .article2-title {
    margin-top: -183px;
    margin-right: -5px;
  }
  body .article2 .article2_description {
    margin-right: 115px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .video-ordi {
    display: none;
  }
  h1 {
    font-size: 32px;
  }
  body .main {
    background-color: #f0f0f0;
  }
  body .parent-article {
    margin-left: 0;
    margin-right: 0;
  }
  body .article-box {
    width: 50%;
    margin-top: -125px;
  }
  body .article .block-article {
    width: 100%;
    /* Modifier la largeur du bloc de texte à 100% */
    max-width: none;
    /* Annuler la largeur maximale du bloc de texte */
  }
  body .block-article_description {
    min-width: 235px;
  }
  body .article-title {
    margin-left: -11rem;
  }
  body .article-title h3 {
    text-align: center;
    font-size: 100%;
    color: #D00A4B;
    margin-left: 170px;
    width: -moz-max-content;
    width: max-content;
  }
  body .article-title .numbers {
    margin-left: 52px;
    text-align: left;
  }
  body .bloc1_description2 {
    display: none;
  }
  body .p-description2 {
    margin: 1rem;
    text-align: justify;
    margin-top: -2rem;
    margin-bottom: 5rem;
    max-width: 465px;
  }
  body .article2 {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  body .article2 .bloc-img {
    margin-top: 5px;
  }
  body .article2 .article2-img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  body .article2 .article2_description2 {
    padding-right: 0px;
    width: auto;
    margin: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-left: 25px;
    margin-bottom: 5rem;
    max-width: 465px;
  }
  body .article2 .block-article_description2 {
    min-width: 350px;
    margin-left: -126px;
  }
  body .article2 .article2-title_nom {
    font-size: large;
    margin-right: 119px;
    margin-top: 7px;
  }
  body .labelYtb {
    margin-left: 1rem;
  }
  body .blocYTB {
    display: flex;
    flex-direction: column;
  }
  body .column {
    margin-bottom: 3rem;
  }
  #forms-svg {
    width: 100px;
    height: 100px;
    margin-left: 1rem;
  }
  body .parent-article .article #forms-svg2 {
    display: none;
  }
  .article-img1 {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .article2-img2 {
    display: none;
  }
  .article-box {
    margin-left: 0;
    width: 100%;
  }
  .boxe-video_1,
  .boxe-video_2,
  .boxe-video_3 {
    align-items: center;
  }
  .columns1,
  .columns2,
  .columns3,
  .columns4,
  .columns5 {
    margin-left: 0px;
  }
  .info-contact2 {
    display: none;
  }
  label {
    width: 90%;
    text-align: center;
    font-weight: bold;
  }
  h1,
  h2 {
    align-self: center;
  }
  h1 {
    font-size: 32px;
  }
  .actions-videos {
    flex-direction: column;
  }
  .actions-bandeau_sous-titre {
    align-items: center;
    width: 100%;
    justify-content: center !important;
  }
  .actions-bloc {
    width: 100%;
    margin-left: -35px;
    text-align: left;
    margin-top: -100px;
  }
  .actions-bloc h1 {
    text-align: center;
    font-size: 40px;
  }
  .actions-description {
    text-align: justify;
    min-width: 330px;
    width: 91% !important;
    margin: 1rem !important;
  }
  .btn-filtres {
    width: 80%;
  }
  .order-btn {
    width: 90%;
  }
  .bloc-adress {
    margin-top: 0px;
    margin-left: 0px;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .bloc-adress .bloc-adress_phone {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .bloc-adress .bloc-adress_place {
    min-width: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 3rem;
  }
  .bloc-adress .bloc-adress_social {
    min-width: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .contact-NES {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
  }
  .contact-NES input {
    margin-top: 30px;
  }
  .message {
    margin-top: 35px;
    width: 84% !important;
    margin-left: 1rem;
    height: 100px;
  }
}
body .parent-article .block-article_description {
  margin-left: -13px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 400px;
}

.contact-input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f0f0f0;
  padding: 10px 0;
  border-bottom: 1px solid #666;
  font-size: 14px;
  width: 300px;
  margin-right: 2rem;
  outline: none;
  transition: border-color 0.2s;
}
.contact-input:active, .contact-input:focus {
  border-bottom-color: black;
  border-bottom-width: 3px !important;
}

.contact-Message {
  width: 50%;
  margin-top: 40px;
  padding-bottom: 91px;
}

@media screen and (min-width: 700px) {
  .p-description2 {
    display: none;
  }
  .article2-img {
    width: 300px;
    height: 300px;
  }
  body .article2-img2 {
    width: 300px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: -168px;
    z-index: -1;
  }
  .video-ordi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12rem;
  }
  .labelYtb {
    max-width: 370px;
  }
  .info-contact2 {
    display: flex;
  }
  .contact-2 {
    display: none;
  }
  .content-message {
    display: flex;
    justify-content: center;
  }
  .content-message textarea {
    margin-top: 30px;
    width: 750px;
    height: 110px;
  }
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */