$rouge : #D00A4B;

.color1 {
    color: $rouge;
}

body {
    .navbar {
        .logo {
            width: 120px;
            margin-top: 7px;
            margin-bottom: 11px;
        }

        .form {
            .search {
                height: fit-content;
                align-self: center;
                min-width: 120px;
                max-width: 210px;
            }

            .search-btn {
                height: fit-content;
                align-self: center;
            }

        }
    }

    .main {

        //1er Bloc de page
        .know-more {
            min-height: 500px;
            width: 100%;
            background-color: #f0f0f0;

            .know-more_box {
                width: 30%;
                margin-left: 14rem;
                //Concernce Tous les h1 de la class know-more_box


                .know-more-content {
                    h1 {
                        font-weight: bolder;
                        font-size: 3rem;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        margin-bottom: -5px;
                    }

                    //Sign &
                    .sign {
                        align-self: center;
                        margin-left: -14rem;
                        font-size: 2rem;
                    }

                    //Concernce Tous les h2 de la class know-more_box
                    h2 {
                        margin-top: -2rem;
                        margin-right: 40px;
                        font-size: 2rem;
                        font-weight: bolder;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        margin-top: -3px;
                    }

                    //Concernce Tous les h3 de la class know-more_box
                    h3 {
                        align-self: baseline;
                        padding-left: 69px;
                        font-weight: initial;

                    }

                    // Ce H3 en dessous est pour le texte "Par L'image"
                    .h3 {
                        align-self: flex-end;
                        margin-right: 59px;
                    }

                    .know-more-content_description {
                        width: 300px;
                        text-align: justify;
                        margin-right: 59px;
                    }

                    .know-more_btn {
                        margin-right: 59px;
                    }

                }

            }
        }

        // Bouton en savoir plus
        .btn_know-more {
            width: 125px;
        }
    }

    .container {
        height: 300px;
        width: 200px;
        background-color: grey;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .parent-article {
        margin-left: 15%;
        margin-right: 15%;
        height: fit-content;
        margin-top: 5rem;
        margin-bottom: 5rem;

        .article {
            margin-bottom: 3rem;

            img {
                width: 300px;
                height: 300px;
            }

            .article-title {
                margin-top: 4rem;
                margin-left: -184px;
            }

            #forms-svg {
                z-index: 1;

            }

            #forms-svg2 {
                margin-left: -93px;
                z-index: 0;

            }
        }

        .numbers {
            display: block;
            border-bottom: 2px solid black;
            border-bottom-width: 3px;
            font-weight: bolder;
            width: 5rem;
            margin-bottom: 11px;
        }


        .block-article {

            margin-left: -6rem;
            margin-top: 3rem;


            h3.color1 {
                color: $rouge;
                padding-bottom: 9px;
            }

        }

        .block-article_rond {
            align-self: end;
            margin-right: -6rem;
            display: flex;
            flex-direction: column;
            margin-top: 4rem;

            .number2 {
                align-self: end;
                flex-direction: row-reverse;
                display: flex;
                border-bottom: 2px solid black;
                border-bottom-width: 3px;
                font-weight: bolder;
                width: 5rem;
                margin-bottom: 11px;
            }

            h3 {
                align-self: flex-end;
                color: $rouge;
                padding-bottom: 9px;
            }

        }

        .block-article_description {
            margin-left: -182px;
            width: 393px;
            text-align: justify;
        }

        .block-article_description2 {
            max-width: 32rem;
            text-align: justify;

        }
    }

    // 2ÈME ARTICLE

    .article2-main {
        margin-top: 130px;
        margin-right: -110px;

        align-self: flex-start;
    }

    .article2 {

        .article2-title {
            margin-top: -63px;
            text-align: end;

            span {
                display: block;
                border-bottom: 2px solid black;
                border-bottom-width: 3px;
                font-weight: bolder;
                width: 5rem;
            }

            h3 {
                color: $rouge;
            }
        }

        .article2_description {
            min-width: 228px;
            margin-left: 1rem;
            text-align: justify;
            align-self: end;
            width: 400px;
            margin-right: 100px;

        }

        .article2_description2 {

            margin: 1rem;
            text-align: justify;
            width: 512px;
            align-self: end;
            padding-right: 124px;
        }
    }
    .article3{
        margin-top: 3rem;
    }

    .videoYTB{
        margin: 2rem;
    }
}


// Footer
footer {
    .info-contact2 {

        justify-content: center;

    }

    .text-contact {
        max-width: 570px;
    }
}

// @media screen and (min-width:360px) and (max-width: 699px) {
//     //navbar


//     //Bloc 1
//     body {
//         .main {
//             .know-more {
//                 .know-more_box {
//                     .know-more-content h1 {
//                         font-weight: bolder;
//                         font-size: 2rem;
//                         font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
//                         margin-bottom: -5px;
//                     }

//                     .know-more-content {
//                         width: fit-content;

//                         h1 {
//                             font-size: 2rem;
//                         }

//                         .sign {
//                             margin-left: 9px;
//                         }

//                         h3 {
//                             font-weight: initial;
//                             padding-left: 93px;
//                         }

//                         .h3 {
//                             align-self: flex-end;
//                             margin-right: 53px;
//                         }

//                         .know-more-content_description {
//                             margin-right: 52px;
//                             padding-left: 60px;
//                         }

//                         .know-more-box_btn {
//                             margin-right: -11px;
//                         }
//                     }
//                 }
//             }
//         }

//         // Bloc 1 => Article    
//         .parent-article {
//             margin-left: unset;
//             margin-right: unset;

//             .article {
//                 margin-bottom: -3rem;

//                 .forms-svg {
//                     min-width: 170px;
//                 }

//                 .block-article {
//                     width: 210px;
//                     margin-left: -170px;
//                     margin-bottom: 44px;

//                     h3.color1 {
//                         font-size: 14px;
//                     }
//                     .block-article_description{
//                         font-size: 11px;
//                         min-width: 230px;
//                         text-align: justify;
//                         margin-left: 121px;
//                         margin-top: 45px;
//                     }
//                 }
//             }
//         }
//     }






//     //Footer
//     .info-contact2 {
//         display: none;
//     }
// }


// /* Styles for screens with width between 360px and 699px */
@media screen and (min-width: 360px) and (max-width: 699px) {
    body .article2 .article2-title {
        margin-top: -183px;
        margin-right: -5px;

    }
    body .article2 .article2_description {
    margin-right: 115px;
    width: fit-content;
    }
    .video-ordi {
        display: none;
      }
    body {

        //Premier bloc
        .main {
            background-color: #f0f0f0;
        }

        .know-more {
            margin-left: 15%;
            margin-right: 15%;
        }

        // 1 er article 
        .parent-article {
            margin-left: 0;
            margin-right: 0;

        }

        .article-box {
            width: 50%;
            margin-top: -125px;
        }

        .article .block-article {
            width: 100%;
            /* Modifier la largeur du bloc de texte à 100% */
            max-width: none;
            /* Annuler la largeur maximale du bloc de texte */
        }
        .block-article_description{
            min-width: 235px;
        }

        .article-title {
            margin-left: -11rem;

            h3 {
                text-align: center;
                font-size: 100%;
                color: #D00A4B;
                max-width: 372px;
            }

            .numbers {
                margin-left: 52px;
                text-align: left;
            }
        }
        .bloc1_description2{
         display: none;
        }
        .p-description2{
            margin: 1rem;
            text-align: justify;
            margin-top: -2rem;
            margin-bottom: 5rem;
            max-width: 465px;
        }
        

        //article 2
        .article2 {
        
            height: fit-content;
            margin-bottom: 3rem;
            margin-top: 3rem;

            .bloc-img{
                margin-top: 5px;
            }
           
           
            .article2-img {
                width: 100px;
                height: 100px;
                margin-right: 1rem;
            }
            .article2_description2{
                padding-right: 0px;
                width: auto;
                margin: 1rem;
                margin-bottom: 1rem;
                margin-left: 1rem;
                margin-left: 25px;
                margin-bottom: 5rem;
                max-width: 465px;
            }
            .block-article_description2 {
                min-width: 350px;
                margin-left: -126px;
            }
            .article2-title_nom{
                font-size: large;
                margin-right: 14px;
                margin-top: 7px;
            }
        }
    }



    #forms-svg {
        width: 100px;
        height: 100px;
        margin-left: 1rem;

    }

    body .parent-article .article #forms-svg2 {
        display: none;

    }

    .article-img1 {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .article2-img2 {
        display: none;
    }


    .article-box {
        margin-left: 0;
        width: 100%;
    }


    .boxe-video_1,.boxe-video_2,.boxe-video_3{
        align-items: center;
    }

    //footer
    .info-contact2 {
        display: none;
    }
    label{
        width: 90%;
        text-align: center;
        font-weight: bold;
    }
    
}

body .parent-article .block-article_description {
    margin-left: -13px;
    width: fit-content;
}








@media screen and (min-width: 700px) {

    //Article 1 et 3
    .p-description2{
        display: none;
    }
    //Article 2
    .article2-img {
        width: 300px;
        height: 300px;
    }
    
    body .article2-img2 {
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin-right: -168px;
        z-index: -1;
    }
    .video-ordi{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 12rem;
    }

    .video-mobile{
        display: none;
    }
    .info-contact2 {
        display: flex;
    }
    
    //Footer
    .contact-2 {
        display: none;
    }

}