$rouge : #D00A4B;


body {
    .navbar {
        .logo {
            width: 120px;
            margin-top: 7px;
            margin-bottom: 11px;
        }

        .form {
            .search {
                height: fit-content;
                align-self: center;
                min-width: 120px;
                max-width: 210px;
            }

            .search-btn {
                height: fit-content;
                align-self: center;
            }

        }
    }

    .main {

        //1er Bloc de page
        .know-more {
            min-height: 500px;
            width: 100%;
            background-color: #f0f0f0;

            .know-more_box {
                width: 30%;

                .know-more-content {

                    .know-more-content_description {
                        width: 300px;
                    }

                }
            }
        }

        .color1 {
            color: $rouge;
        }

        .btn_know-more {
            width: 125px;
        }
    }

    .container {
        height: 300px;
        width: 200px;
        background-color: grey;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .parent-div {
        margin-left: 15%;
        margin-right: 15%;
        .article{
            margin-bottom: -11rem;
        }
        .forms-svg{
            max-width: 500px;
        }
        .numbers {
            display: block;
            border-bottom: 2px solid black;
            border-bottom-width: 3px;
            font-weight: bolder;
            width: 5rem;
            margin-bottom: 11px;
        }
        

        .block-article {
        
            margin-left: -6rem;
            margin-top: 3rem;
        

            h3.color1 {
                color: $rouge;
                padding-bottom: 9px;
            }

            .block-article_description {
                width: 30rem;
            }
        }
        .block-article_rond{
            align-self: end;
            margin-right: -6rem;
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            .number2 {
                align-self: end;
                flex-direction: row-reverse;
                display: flex;
                border-bottom: 2px solid black;
                border-bottom-width: 3px;
                font-weight: bolder;
                width: 5rem;
                margin-bottom: 11px;
            }
            h3{
                align-self:flex-end;
                color :$rouge;
                padding-bottom: 9px;
            }
            .block-article_description {
                width: 30rem;
            }
        }
        .block-article_description2{
            width: 40rem;
            direction: rtl;
        }
    }

}


// Footer
footer {
    .info-contact {
        display: flex;
        justify-content: center;

    }

    .text-contact {
        max-width: 570px;
    }
}

@media screen and (max-width: 767px) {
    .info-contact {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .contact-2 {
        display: none;
    }

}