{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cette Page ne vous ai pas autorisé</h1>

    <p>
        Veuillez retourner à la page principale <a href="{{ path('homepage') }}"></a>.
    </p>
{% endblock %}