{% extends 'base.html.twig' %}

{% block title %}Flipbook Hébémag{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/flipbook.css') }}">
{% endblock %}

{% block body %}
    <div class="flipbook-container">
        {% for ebook in ebooks %}
            {# <img src="{{ asset('uploads/hébémag/' ~ imagePath) }}" alt="Page {{ loop.index }}" class="flipbook-image"> #}
        {% endfor %}
    </div>
{% endblock %}
