<h1>Hey !<h1>

<p>Pour réinitialiser ton mot de passe, cliquez sur le lien suivant:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'this_link'|trans({}, 'resetpsw') }}</p>

