<!DOCTYPE html>
<html>
<head>
    <title>Statistiques Google Analytics</title>
</head>
<body>
    <h1>Statistiques Google Analytics</h1>

    <p>Nombre de sessions : {{ stats.sessions }}</p>
    <p>Nombre de pages vues : {{ stats.pageviews }}</p>

    <!-- Vous pouvez ajouter d'autres données de statistiques ici -->

</body>
</html>
