footer {
    .footer-logo {
        display: flex !important;
        justify-content: center !important;
    }

    .info-contact2 {

        justify-content: center;

    }

    .text-contact {
        max-width: 757px;
    }
}