.navbar {
    .logo {
        width: 120px;
        margin-top: 7px;
        margin-bottom: 11px;
    }

    .form {
        .search {
            height: fit-content;
            align-self: center;
            min-width: 120px;
            max-width: 210px;
        }

        .search-btn {
            height: fit-content;
            align-self: center;
        }

    }
}

.navbar.nav-phone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#navbarToggleExternalContent {
    z-index: 1;
    position: fixed;
    background: aliceblue;
    width: 100%;
    height: 100% !important;
    margin-top: -2rem;
}


#navbar-hover li a {
    position: relative;
    color: black;
    /* Couleur de texte initiale */
    transition: color 0.3s ease;
    /* Transition de couleur sur 0.3s */
    font-size: 17px;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        content: "";
        background-color: white;
        /* Couleur de fond au survol */
        transition: width 0.3s ease;
        /* Transition de la largeur sur 0.3s */
    }

    &:hover {
        color: white;
        /* Couleur de texte au survol */

        &:after {
            width: 100%;
            /* Largeur de l'underline au survol */
        }
    }
}

#nav-flag .navbar-nav li a {
    &:hover {
        color: none;

        /* Couleur de texte au survol */
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0px;
            content: "";
            background-color: none;
            /* Couleur de fond au survol */
            transition: width 0.3s ease;
            /* Transition de la largeur sur 0.3s */
        }
    }
}


@media screen and (min-width: 360px) and (max-width: 699px) {
    .navbar-nav {
        display: none;
        /* Masquer la liste des éléments de navigation */
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
        /* Afficher le bouton du menu déroulant */
    }

    .navbar-collapse {
        display: none;
        /* Masquer la zone de contenu du menu déroulant */
    }

    .navbar-collapse.show {
        display: block;
        /* Afficher la zone de contenu du menu déroulant lorsqu'il est ouvert */
    }
}

@media screen and (min-width: 993px) {

    .nav-phone {
        display: none;

    }

    .nav-main {
        display: flex !important;
        justify-content: center !important;
        height: 90px;
    }
}

@media screen and (min-width: 360px) and (max-width:992px) {
    .navbar-expand-lg {
        display: none;
    }
    .nav-phone{
        display: flex;
        background-color: #D00A4B;
        z-index: 3;
        position: absolute;
    }
    
    .nav-phone-content {

        li {
            margin: 1rem;
            width: 100% !important;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgb(121, 121, 161);
            }

            &:first-child {
                &:hover {
                    background-color: none;
                }
            }
        }
    }

}