body{
    background-color: #f0f0f0;
}


.contact-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.bloc-contact {
    margin-top: 8rem;
}


.bloc-adress_place,
.bloc-adress_phone {
    margin-right: 8rem;
}
.mb-3{
margin-right: 1rem;
margin-left: 1rem;
}

#contact_Message{
    max-width: 765px;
}
.send-btn {
    background-color: white;
    border-radius: 6px;
    padding: 6px 55px 6px;
    font-weight: bolder;
    color: black;
    line-height: 40px;

    &:hover {
        transform: scale(1.05);
        background-color: $rouge;
        color: white;
    }
}

.contact-form {
    margin-bottom: 6rem;
}

.form-group {
    display: flex;
    justify-content: center;
}

.contact-NES {
    display: flex;

    justify-content: center;

}


//cacher le label piege 
label[for="contact_piege"] {
    display: none !important;
}

#contact_Message, #contact_Subject, #contact_email, #contact_Nom{
    background-color: white;
}
//captcha 
.grecaptcha-badge {
    visibility: hidden;
}

.employee3{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 1000px) {
	.bloc-adress {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 360px)and (max-width:699px){

    .contact-input{
        height: 50px;
        width: 80% !important;
    }
    .contact-NES {
        .mb-3{
            width: 100%;
            display: flex;
            justify-content: center;

            input{
                margin-right:0px !important;
            }
        }
   
    }
    .team{
        display: none !important;
    }
    .contact-NES {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
    }
}

.content-message{
    .mb-3{
        width: 100%;;
        height: 170px !important;
        display: flex;
        justify-content: center;
        .message{
            height: 170px !important;
            margin-right:0px !important;
            margin-left:0px !important;
        } 
    }

    .team-mobile{
        display: flex !important;
    }
}



@media (min-width: 700px){
.team-mobile{
    display: none;
}
}


//Footer
.contact-2 {
    display: none;
}

// Page contact ordi
.content-message {
    display: flex;
    justify-content: center;

    textarea {
        margin-top: 30px;
        width: 750px;
        height: 110px;
    }
}

.contact-Message {
    width: 50%;
    margin-top: 40px;
    padding-bottom: 91px;

}

.contact-input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f0f0f0;
    padding: 10px 0;
    font-size: 14px;
    margin-right: 2rem;
    outline: none;
    transition: border-color .2s;
    padding-left: 1rem;


    &:active,
    &:focus {
        border-bottom-color: $rouge;
        border-bottom-width: 3px !important;
    }
}
    // Page contact mobile

.bloc-adress {
    margin-top: 0px;
    margin-left: 0px;
    flex-direction: column;


    .bloc-adress_phone {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .bloc-adress_place {
        min-width: 233px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-top: 3rem;
    }

    .bloc-adress_social {
        min-width: 233px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

}

.contact-NES {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;

    input {
        margin-top: 20px;
    }

}

.message {
    margin-top: 35px;
    width: 84% !important;
    margin-left: 1rem;
    height: 100px;
}
