body{
    background-color: #f0f0f0;
}


.contact-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloc-contact {
    margin-top: 8rem;
}

.bloc-adress {

}

.bloc-adress_place,
.bloc-adress_phone {
    margin-right: 8rem;
}

.send-btn {
    background-color: $rouge;
    border-radius: 6px;
    padding: 6px 55px 6px;
    font-weight: bolder;
    color: white;
    line-height: 40px;

    &:hover {
        transform: scale(1.05);
        background-color: $rouge;
        color: white;
    }
}

.contact-form {
    margin-bottom: 6rem;
}

.form-group {
    display: flex;
    justify-content: center;
}

.contact-NES {
    display: flex;

    justify-content: center;

}

//cacher le label piege 
label[for="contact_piege"] {
    display: none !important;
}

#contact_Message, #contact_Subject, #contact_email, #contact_Nom{
    background-color: white;
}
//captcha 
.grecaptcha-badge {
    visibility: hidden;
}
@media (max-width: 1000px) {
	.bloc-adress {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 700px)and (max-width:1400px){


}