@media (min-width: 360px) and (max-width: 600px) {
  .flip-mobiles{
    width: 90% !important;
    margin-top: 7rem !important;
  }

  .img-ebook{
    width: fit-content;
    height: fit-content;
  }
}