.color1 {
    color: $rouge;
}





body {
    box-sizing: border-box;
}


.bloc-imgTop {
    width: 600px;
    height: 400px;
    background-image: url(../../images/HébéMag.png);
    background-size: cover;
}

.main {

    //1er Bloc de page
    .know-more {

      min-height: 122px;
        background-image: url(../../images/channels4_banner.jpg);
        background-repeat: no-repeat;
       
        

        a {
            
        }
    }

}

// Bouton en savoir plus
.btn_know-more {
    width: 125px;

}

.know-more-box_btn {
    margin-left: 44%;
    width: 200px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;

}

.banniere {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}


.container-home {
    height: 300px;
    width: 200px;
    background-color: grey;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.parent-article {
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;

    .article {
        margin-top: 0rem;
        margin-bottom: 3rem;

        img {
            height: 300px;
        }

        .article-title {
            margin-top: 6rem;
            // margin-left: -184px;
        }

        #forms-svg {
            z-index: 1;

        }

        #forms-svg2 {
            margin-left: -7rem;
            z-index: 0;

        }
    }

    .numbers {
        display: block;
        border-bottom: 2px solid black;
        border-bottom-width: 3px;
        font-weight: bolder;
        width: 5rem;
      
    }


    .block-article {

        margin-left: -6rem;
        margin-top: 3rem;


        h3.color1 {
            color: $rouge;
            padding-bottom: 9px;
        }

    }

    .block-article_rond {
        align-self: end;
        margin-right: -6rem;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;

        .number2 {
            align-self: end;
            flex-direction: row-reverse;
            display: flex;
            border-bottom: 2px solid black;
            border-bottom-width: 3px;
            font-weight: bolder;
            width: 5rem;
            margin-bottom: 11px;
        }

        h3 {
            align-self: flex-end;
            color: $rouge;
            padding-bottom: 9px;
        }

    }

    .block-article_description {
    
        width: 393px;
        text-align: justify;
    }

    .block-article_description2 {
        max-width: 32rem;
        text-align: justify;

    }
}

// 2ÈME ARTICLE


.article2 {
    margin-bottom: 3rem;

    .article2-title {
        // margin-top: -63px;
        text-align: end;

        span {
            display: block;
            border-bottom: 2px solid black;
            border-bottom-width: 3px;
            font-weight: bolder;
            width: 5rem;
        }

        h3 {
            color: $rouge;
        }
    }

    .article2_description {

        margin-left: 6rem;
        text-align: justify;
    



    }

    .article2_description2 {
        text-align: justify;
        width: 512px;
        align-self: end;
        padding-right: 124px;
    }
}

.article3 {
    margin-top: 3rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

//le caroussel

swiper-container {
    width: 100%;
    height: 400px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos {
    width: 100%;
    height: 290px;
}

.mySwiper {
    width: 80vw;
    background-color: white !important;
    margin: 0 auto;

}

:host ::ng-deep .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    border: 3px solid black;
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    writing-mode: vertical-lr;
    /* Pour écrire le texte en vertical */
    text-orientation: upright;
    /* Pour afficher le texte dans le bon sens */
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.slide-img {
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
    background-size: cover;
  
    width: 230px !important;
    height: auto !important;
    margin-right: 18px !important;
    padding: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.columns1,
.columns2,
.columns3,
.columns4,
.columns5 {
    
    background-repeat: no-repeat;
    height: 335px;
    margin-right: -35px;
    margin-top: 3rem;
    margin-left: 3rem;
    background-size: cover;
    width: 245px;
    margin-bottom: 3rem;
}

.bloc-carrousel {
    margin-top: -105px;
}



.copyright-text {
    max-width: 770px;
}

//team
.team-title{
    font-size: xxx-large;
}

.team-profile{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    width: 70%; 
    margin: 0 auto 10rem;
}

.métier{
    color: #D00A4B;
}

.team-social{
    margin: 1rem;
}

#carouselExample{
    margin: 2rem;
}

.carrousel-lien{
    padding-left: 1px !important;
    padding-right: 5px !important;
}
.curieux{
   
}

.rencontre1, .rencontre3{
 
    img{
        width: 380px;
        height: 460px;
    }
}



.rencontre2{
  
  
    img{
        width: 380px;
        height: 460px;
    }
}

.navbar-nav:first-child li a {
    position: relative;
    color: black; /* Couleur de texte initiale */
    transition: color 0.3s ease; /* Transition de couleur sur 0.3s */
  
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      content: "";
      background-color: red; /* Couleur de fond au survol */
      transition: width 0.3s ease; /* Transition de la largeur sur 0.3s */
    }
  
    &:hover {
      color: red; /* Couleur de texte au survol */
  
      &:after {
        width: 100%; /* Largeur de l'underline au survol */
      }
    }
  }
  
  #nav-flag .navbar-nav li a {
        &:hover {
            color: none; /* Couleur de texte au survol */
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0px;
                content: "";
                background-color: none; /* Couleur de fond au survol */
                transition: width 0.3s ease; /* Transition de la largeur sur 0.3s */
              }
        }
  } 




// -------------------------------------------------------------


@media screen and (min-width: 360px) and (max-width: 699px) {
    .navbar-nav {
        display: none; /* Masquer la liste des éléments de navigation */
    }

    .navbar-expand-lg .navbar-toggler {
        display: block; /* Afficher le bouton du menu déroulant */
    }

    .navbar-collapse {
        display: none; /* Masquer la zone de contenu du menu déroulant */
    }

    .navbar-collapse.show {
        display: block; /* Afficher la zone de contenu du menu déroulant lorsqu'il est ouvert */
    }
//1 er article 
    .article{
        flex-direction: column;
        justify-content: center;
        &:first-child {
            margin-top: 5rem;
          }
    }
        

    .article-img1{
        width: 250px !important;
        height: 250px !important;
        align-self: center;
    }

    .article-box{
        width: 100% !important;
        align-items: center !important;
    }

    .article-title{
        margin-top: 0rem !important;
        margin-left: 2rem !important;
        width: 100%;
    }
    .block_p_description{
        display: flex;
        width: 100%;

    }

    .numbers, .color1{
        margin-left: 0px !important;
    }

    .block-article_description{
        text-align: justify !important;
        max-width: 500px !important;
        min-width: 200px !important;
        width: 93% !important;
        margin: 1rem;
}

//Article 2
    .article2{
    flex-direction: column !important;
    align-items: center;
    }

    .article2_description {
        align-self: baseline !important;
        text-align: justify;
        width: 93% !important;
        margin: 1rem !important;
        max-width: 500px !important;
      
    }
    .article2-title-chiffre {
        text-align: left;
    }

    .img-article2{
        width: 250px;
        height: 250px;
    }

    .carousel1 {
        height: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 10rem;
    }


    .know-more {
        display: none;

    }


    body .article2 .article2_description {
        margin-right: 115px;
        width: fit-content;
    }

    .video-ordi {
        display: none;
    }

    h1 {
        font-size: 32px;
    }

    body {

        //Premier bloc
        .main {
            background-color: #f0f0f0;

        }



        // 1 er article 
        .parent-article {
            margin-left: 0;
            margin-right: 0;

        }

        .article-box {
        margin-left: 0px !important;
        }

        .article .block-article {
            width: 100%;
            /* Modifier la largeur du bloc de texte à 100% */
            max-width: none;
            /* Annuler la largeur maximale du bloc de texte */
        }

     

        .article-title {
            margin-left: -11rem;

            h3 {
                text-align: center;
                font-size: 100%;
                color: #D00A4B;
                margin-left: 170px;
                width: max-content;
            }

            .numbers {
                margin-left: 52px;
                text-align: left;
            }
        }

        .bloc1_description2 {
            display: none;
        }

        .p-description2 {
            margin: 1rem;
            text-align: justify;
            // margin-top: -2rem;
            margin-bottom: 5rem;
            max-width: 465px;
        }


        //article 2
        .article2 {

            height: fit-content;
            margin-bottom: 3rem;
            margin-top: 3rem;

            .bloc-img {
                margin-top: 5px;
            }
            .rond-article2{
                display: none;
            }


            .article2-img {
                width: 100px;
                height: 100px;
                margin-right: 1rem;
            }
      
            .article2-main{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;


                .article2-title{
                    width: 100%;
                    text-align: end;
                    align-items: flex-start !important;
                    margin-left: 1rem;

                    .article2-title_nom{
                        margin-right: 0px !important;

                    }
                }
            }
        }

        .article2_description2 {
            align-self: baseline !important;
            text-align: justify;
            width: 93% !important;
            margin: 1rem;
            max-width: 500px !important;
        }

        .block-article_description2 {
            min-width: min(100%, 350px);
        }

        .article2-title_nom {
            font-size: large;
            margin-right: 119px;
        }
   
        .blocYTB {
            display: flex;
            flex-direction: column;
        }

        .column {
            margin-bottom: 3rem;
        }
    }



    #forms-svg {
        width: 200px;
        height: 200px;
        margin-left: 1rem;

    }

    body .parent-article .article #forms-svg2 {
        display: none;

    }

    .article-img1 {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .rond-article2{
     
        z-index: 0;
    }
 


    .article-box {
        margin-left: 0;
        width: 100%;
    }


    .boxe-video_1,
    .boxe-video_2,
    .boxe-video_3 {
        align-items: center;
    }


    .columns1,
    .columns2,
    .columns3,
    .columns4,
    .columns5 {
        margin-left: 0px;
    }

    //footer
    .info-contact2 {
        display: none;
    }

    label {
        width: 90%;
        text-align: center;
        font-weight: bold;
    }

    h1,
    h2 {
        align-self: center;
    }

    h1 {
        font-size: 32px;
    }

    // Page contact mobile

    .bloc-adress {
        margin-top: 0px;
        margin-left: 0px;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;


        .bloc-adress_phone {
            margin-right: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .bloc-adress_place {
            min-width: 233px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0px;
            margin-bottom: 20px;
            margin-top: 3rem;
        }

        .bloc-adress_social {
            min-width: 233px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
        }

    }

    .contact-NES {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        width: 100%;

        input {
            margin-top: 20px;
        }

    }

    .message {
        margin-top: 35px;
        width: 84% !important;
        margin-left: 1rem;
        height: 100px;
    }



}


body .parent-article .block-article_description {
  
    max-width: 400px;
}

//----------------------------------------------------------------------------------------------------//
//PageContact 

.contact-input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-bottom: 1px solid #666;
    font-size: 14px;
    width: 300px;
    margin-right: 2rem;
    outline: none;
    transition: border-color .2s;


    &:active,
    &:focus {
        border-bottom-color: black;
        border-bottom-width: 3px !important;
    }
}

.contact-Message {
    width: 50%;
    margin-top: 40px;
    padding-bottom: 91px;

}




@media screen and (min-width: 970px) {

    //Article 1 et 3
    .p-description2 {
        display: none;
    }

    .know-more {
    min-height: 320px !important;
    }

    //Article 2
    .article2-img {
        width: 300px;
        height: 300px;
    }

    body .article2-img2 {
        width: 300px;
        height: 300px;
        object-fit: contain;
        margin-right: -168px;
        z-index: -1;
    }

    .video-ordi {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 12rem;
    }

    .labelYtb {

        max-width: 370px;
    }

    .info-contact2 {
        display: flex;
    }


    .parent-article {
        margin-left: 15%;
        margin-right:15%;
        height: fit-content;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }



    //Footer
    .contact-2 {
        display: none;
    }

    // Page contact ordi
    .content-message {
        display: flex;
        justify-content: center;

        textarea {
            margin-top: 30px;
            width: 750px;
            height: 110px;
        }
    }
}


@media (max-width: 767px) {


    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
    .article-img-milieu{
        display: none;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

@media screen and (max-width:969px) {
.info-contact2{
    display: none;
}
}

@media screen and (min-width: 700px) and (max-width:991px) {

.article2-main{
    margin-top: 50px;
    margin-right: 8rem;
}
.block-article_description{
    max-width: 350px !important;
}

.img-article2
{
    margin-left: -100px;
    z-index: 1;
    width: 200px;
    height: 200px;
  }

.article2_description
{
    max-width: 350px;
    margin-right: 0px !important;

}

 .rond-article2{
    min-width: 177px;
    min-height: 236px;
}
.img-article2{
    min-height: 200px;
}


.bloc_form{
    display: none;
}
.article-box{
    margin-left: 2rem;
}

.article-img2{
    display: none;
}
.article-img1{
    width: 200px;
    height: 200px !important;
}

.know-more{
    min-height: 150px;
}

}






@media screen and (min-width: 992px) {


.bloc_form{
    display: flex;

    .article-img2{
        display: flex;
    }
}



.article-img1{
    width: 350px !important;
    height: 350px !important;
}

.bloc-img{
    height: 400px;

}

.img-article2{
    min-width: 350px;
    display:flex !important;
    max-width: 350px;
}


#forms-svg2{
    width: 287px !important;
    position: absolute;
    display: flex;
    height: 350px;
}

.article-img-milieu{
    z-index: 0;
    margin-left: -7rem;
    margin-top:10px;
}
.rond-article2{
    z-index: 0;
    margin-right: -175px;
    position: relative;
    min-width: 300px;
}
.article2-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.article2-title{
    margin-top: 6rem;
    margin-right: -1rem;
}
.article2-title_nom{
    font-size: 1.4rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.block-article_description{
    margin-left: 6rem;
    margin-top: 1rem;

}

.article2-main{
    margin-right: 3rem;

}

.article2_description{
    margin-right: 6rem !important;
    margin-top: 1rem;
    min-width: 300px;
}
.color1{
    margin-left: 1rem;
    margin-top: 10px;
    font-size: 1.40rem;
}
.article-title{
    margin-top: 4rem;
}
.article-box{
    margin-left: 2rem !important;
    margin-top: -2rem !important;
}


}

@media screen and (min-width: 993px) and (max-width:1092px) {
.block-article_description{
    width: 300px !important;

}
}

@media screen and (min-width:1093px) {
.article2_description{
 max-width: 393px;   
}
}

@media screen and (min-width: 360px) and (max-width:836px) {
   .know-more{
    background-size: contain !important;
   }
}

@media screen and (min-width: 837px) {
.know-more{
    background-size: cover;
}
}

@media screen and (min-width: 1620px) {
.know-more{
    background-size: 100% 100%;
}

  
}


  
  .employeeImage{
border-radius: 50%;
  }




@media screen and (min-width: 970px) and (max-width:1150px) {
.know-more {
    min-height: 165px !important;
    }
}


@media screen and (min-width: 1151px) and (max-width:1340px) {
    .know-more {
        min-height: 192px !important;
        }
    }

@media screen and (min-width: 1341px) and (max-width:1619px) {
    .know-more {
        min-height: 260px !important;
        }
    }

    //carousel img
    @media (min-width: 360px) and (max-width: 1199.98px) {
        .row-cols-md-3 {
            .carrousel_img-4,
            .carrousel_img-5 {
            display: none !important;
          }
        }
      }
          //carousel img
    @media (min-width: 360px) and (max-width: 767px) {
        .row-cols-md-3 {
            .carrousel_img-2,
            .carrousel_img-3,
            .carrousel_img-4,
            .carrousel_img-5 {
            display: none !important;
          }
        }
      }
      @media (min-width: 1200px)  {
        .carrousel_img-1,
        .carrousel_img-2,
        .carrousel_img-3,
        .carrousel_img-4,
        .carrousel_img-5 {
            height:340px;
        }
      }
    
    
    
      @media (min-width: 1530px)  {
        .carrousel_img-1,
        .carrousel_img-2,
        .carrousel_img-3,
        .carrousel_img-4,
        .carrousel_img-5 {
            height:400px;

        }
      }
    