.pagination {
    .page a, .current, .next a, .last a, .first a, .previous a {
        color: #D00A4B;
        transition: transform 0.2s ease;
        font-size: 22px;
        text-decoration: none;
    
    }
    
    .current, .page, .next, .last, .first, .previous {
        margin: 0.4rem;

        &:hover {
            transform: scale(1.45);
            text-decoration: underline 3px solid #D00A4B;
            
        }
    }
    .current{
        color: black;
    }
}

@media (max-width: 992px) {
    .sm-w-80{
        width: 80% !important;
    }
}

.m2{
margin: 2rem;
}