<footer class="text-center text-lg-start bg-light text-muted w-100">
	<section class="border-top ">

		<div>
			<img src="/img/Point.png" alt="" style="position: absolute;height: 267px;width: 100%;opacity: 0.4;">
			<div class="row mt-3 mb-3 d-flex">
				<div class="d-flex justify-content-center">
					<img src="/img/Footer/logo.png" class="fw-bold mb-4" style="z-index: 0;">
				</div>
			</div>
		</div>
		<!-- Grid column -->
		<div class="d-flex justify-content-center ">
			<p class="text-contact">
				"Meltingphot" est une association qui valorise la culture par l'image auprès de tous. Que ce soit pour les particuliers, les professionnels, les entreprises difficiles, le public en ou encore les quartiers prioritaires, l'association offre des formations…
			</p>
		</div>
		<div class="d-flex justify-content-center mb-3">
			<a href="https://www.facebook.com/MeltingPhot/?locale=fr_FR" target="_blank" class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>

			<a href="https://www.instagram.com/meltingphot/?hl=fr" target="_blank" class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.linkedin.com/company/meltingphot" target="_blank" class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>
		</div>
		<!-- Grid column -->
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-2">
			<!-- Links -->
			<p>
				<i class="fas fa-home me-3"></i>15 Route de bagnols, 30100 Alès</p>
			<p>
				<i class="fas fa-envelope me-3"></i>info@example.com</p>
			<p>
				<i class="fas fa-phone me-3"></i>06 64 21 93 75</p>
		</div>


		<!-- Grid row -->
		<div class="info-contact2 ">
			<!-- Links -->
			<p class="ms-3">
				<i class="fas fa-home me-2"></i>15 Route de bagnols, 30100 Alès</p>
			<p class="ms-3">
				<i class="fas fa-envelope me-2"></i>info@example.com</p>
			<!-- Copyright -->
			<p class="ms-3">
				<i class="fas fa-phone me-2"></i>06 64 21 93 75</p>
		</div>

		<!-- Section: Links  -->
		<!-- Copyright -->

	</div>

	<div class="text-center p-4 fw-bold text-white d-flex flex-column align-items-center" style="background-color: #D00A4B;">
		Tous droits réservés © 2023 @MeltingPhot
		<p class="fst-italic fw-light fs-6 text-white copyright-text">
			En effet, tous les éléments présents sur Internet (textes, images, vidéos, extraits sonores, codes informatiques…) sont de
			facto soumis au droit d’auteur, même si l’accès est libre, gratuit et sans mention particulière.
		</p>
	</section>
</footer>
