<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="MELTINGPHOT, c'est la pédagogie par l'image à travers des projets multiculturels et des stages de créations audiovisuelles !">
		<meta name="author" content="Rani Derradj">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{% endblock %}
		</title>

		<!-- Favicon alternatif au format PNG -->
		<link rel="icon" type="image/png" href="{{asset("img/logo.png")}}"/>

		<!-- Liens vers les polices Google Cabin et Montserrat -->
		<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
	  
	  	<!-- Liens vers les icônes  -->
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha384-FqMqaW7ZqO0dcTLStq2W2J6K3y+H7SQDklYi5ku/wv7IPX/HzMJggMmX4PAtzbbG" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		
	    <!-- Liens vers les fichiers CSS Bootstrap 5 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	{% include 'component/navbar.html.twig' %}

	{% block body %}
	{% endblock %}

	{% include 'component/footer.html.twig' %}
	
	{% block javascripts %}
		<!-- Liens vers les icônes Font Awesome (JavaScript) -->
		<script src="https://kit.fontawesome.com/b82551dea9.js" crossorigin="anonymous"></script>
		
		<!-- Liens vers les bibliothèques jQuery et Bootstrap (JavaScript) -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-MYlYNqEg0lVW1UxP29iWJeZM2K/G1NnIZdNtT3DuyCf7RJaOfbTilGhTAcPZ4yK6" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		
		<!-- Lien vers un script personnalisé pour la barre de recherche -->
		<script src="{{ asset('js/searchBar/searchBar.js') }}"></script>
	{% endblock %}
</html>



















































	    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
