{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('Scss/style.scss') }}">
	<section class="block">
	
		
		<h1>Welcome to my website</h1>
		<p>Thank you for visiting</p>
	</section>


</section>{% endblock %}
